/* Colors */

$mid_grey_color: #6C7174;
$iron_color: #CDCECE;

$light_green_color: #449d48;

$white_color: #FFFFFF;

$black_color: #000000;

$primary_color: $black_color;
$secondary_color: $white_color;

$primary_background_color: $light_green_color;
$secondary_background_color: $black_color;

$box_shadow_color: #CCC;

/* Fonts */

